<a href="https://colab.research.google.com/github/hyojunyee/kita_2404/blob/main/m5_%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D/Task/Task_0722.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task1_0722. Adult Income 데이터셋을 이용한 전처리 및 분류 모델(소득이 50K 이상인지 예측)을 아래 설명을 참조하여 수행하세요.

[ 문제 설명 ]

- Adult Income 데이터셋을 로드합니다.
- 결측치를 처리합니다.
- 이상치를 제외합니다.
- 파생 변수를 작성합니다.
- 범주형 변수를 인코딩합니다.
- 변수 선택 및 독립변수 종속변수를 분리합니다.
- 데이터를 표준화합니다.
- 데이터셋을 학습용과 테스트용으로 나눕니다.
- Logistic Regression 모델 생성 및 학습합니다.
- 예측 및 평가합니다.

Adult Income 데이터셋(또는 "Census Income" 데이터셋)은 미국 인구 조사 데이터를 바탕으로 각 개인의 특성에 따른 소득 수준을 예측하는 데 사용됩니다. 이 데이터셋의 컬럼들은 다음과 같습니다:

- age: 나이 (숫자)
개인의 나이를 나타냅니다.
- workclass: 직업 유형 (범주형)
개인의 직업 유형을 나타냅니다. 예를 들어, 'Private', 'Self-emp-not-inc', 'Self-emp-inc', 'Federal-gov', 'Local-gov', 'State-gov', 'Without-pay', 'Never-worked' 등이 있습니다.
- fnlwgt: 최종 가중치 (숫자)
인구 조사에서 각 행이 전체 인구를 대표하는 비율을 나타내는 가중치입니다. 더 큰 값은 더 큰 대표성을 의미합니다.
- education: 교육 수준 (범주형)
개인의 교육 수준을 나타냅니다. 예를 들어, 'Bachelors', 'Some-college', '11th', 'HS-grad', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', '9th', '7th-8th', '12th', 'Masters', '1st-4th', '10th', 'Doctorate', '5th-6th', 'Preschool' 등이 있습니다.
- education-num: 교육 수준(숫자) (숫자)
교육 수준을 숫자로 나타낸 것입니다. 예를 들어, 'Bachelors'는 13, 'HS-grad'는 9 등으로 교육의 연수를 나타냅니다.
- marital-status: 결혼 상태 (범주형)
개인의 결혼 상태를 나타냅니다. 예를 들어, 'Married-civ-spouse', 'Divorced', 'Never-married', 'Separated', 'Widowed', 'Married-spouse-absent', 'Married-AF-spouse' 등이 있습니다.
- occupation: 직업 (범주형)
개인의 직업을 나타냅니다. 예를 들어, 'Tech-support', 'Craft-repair', 'Other-service', 'Sales', 'Exec-managerial', 'Prof-specialty', 'Handlers-cleaners', 'Machine-op-inspct', 'Adm-clerical', 'Farming-fishing', 'Transport-moving', 'Priv-house-serv', 'Protective-serv', 'Armed-Forces' 등이 있습니다.
- relationship: 가족 관계 (범주형)
개인의 가족 관계를 나타냅니다. 예를 들어, 'Wife', 'Own-child', 'Husband', 'Not-in-family', 'Other-relative', 'Unmarried' 등이 있습니다.
- race: 인종 (범주형)
개인의 인종을 나타냅니다. 예를 들어, 'White', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo', 'Other', 'Black' 등이 있습니다.
- sex: 성별 (범주형)
개인의 성별을 나타냅니다. 'Male' 또는 'Female'입니다.
- capital-gain: 자본 이득 (숫자)
개인의 자본 이득을 나타냅니다. 자본 자산의 매매에서 발생하는 이익입니다.
- capital-loss: 자본 손실 (숫자)
개인의 자본 손실을 나타냅니다. 자본 자산의 매매에서 발생하는 손실입니다.
- hours-per-week: 주당 근무 시간 (숫자)
개인이 주당 일하는 시간을 나타냅니다.
- native-country: 출생 국가 (범주형)
개인의 출생 국가를 나타냅니다. 예를 들어, 'United-States', 'Cambodia', 'England', 'Puerto-Rico', 'Canada', 'Germany', 'Outlying-US(Guam-USVI-etc)', 'India', 'Japan', 'Greece', 'South', 'China', 'Cuba', 'Iran', 'Honduras', 'Philippines', 'Italy', 'Poland', 'Jamaica', 'Vietnam', 'Mexico', 'Portugal', 'Ireland', 'France', 'Dominican-Republic', 'Laos', 'Ecuador', 'Taiwan', 'Haiti', 'Columbia', 'Hungary', 'Guatemala', 'Nicaragua', 'Scotland', 'Thailand', 'Yugoslavia', 'El-Salvador', 'Trinadad&Tobago', 'Peru', 'Hong', 'Holand-Netherlands' 등이 있습니다.
- income: 소득 수준 (범주형)
개인의 소득 수준을 나타냅니다. ' <=50K' 또는 ' >50K'로, 연 소득이 50,000달러 이하인지 초과인지를 나타냅니다.

In [ ]:
import pandas as pd

# 1. 데이터 로드
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'
columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status',
           'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss',
           'hours-per-week', 'native-country', 'income']
# na_values='?'는 널값으로 바꿔주는 것.
data = pd.read_csv(url, header=None, names=columns, na_values='?', skipinitialspace=True)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       30725 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      30718 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  31978 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [ ]:
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [ ]:
# 널 값 확인
data.isnull().sum()

age                                        0
workclass                                  0
fnlwgt                                     0
education                                  0
education-num                              0
marital-status                             0
sex                                        0
capital-gain                               0
capital-loss                               0
hours-per-week                             0
native-country                             0
income                                     0
race_Amer-Indian-Eskimo                    0
race_Asian-Pac-Islander                    0
race_Black                                 0
race_Other                                 0
race_White                                 0
age_group_Youth                            0
age_group_Middle_Aged                      0
age_group_Senior                           0
age_group_Elderly                          0
hours_per_week_group_Part_time             0
hours_per_week_group_Full_time             0
hours_per_week_group_Over_time             0
hours_per_week_group_Excessive             0
capital_gain_loss_group_Gain               0
capital_gain_loss_group_Loss               0
capital_gain_loss_group_No_gain_or_loss    0
occupation_Adm-clerical                    0
occupation_Armed-Forces                    0
occupation_Craft-repair                    0
occupation_Exec-managerial                 0
occupation_Farming-fishing                 0
occupation_Handlers-cleaners               0
occupation_Machine-op-inspct               0
occupation_Other-service                   0
occupation_Priv-house-serv                 0
occupation_Prof-specialty                  0
occupation_Protective-serv                 0
occupation_Sales                           0
occupation_Tech-support                    0
occupation_Transport-moving                0
relationship_Husband                       0
relationship_Not-in-family                 0
relationship_Other-relative                0
relationship_Own-child                     0
relationship_Unmarried                     0
relationship_Wife                          0
dtype: int64

In [ ]:
data['occupation'].value_counts()

occupation
Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: count, dtype: int64

In [ ]:
data['workclass'].value_counts()

workclass
Private             22696
Self-emp-not-inc     2541
Local-gov            2093
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: count, dtype: int64

In [ ]:
data['marital-status'].value_counts()

marital-status
Married-civ-spouse       14976
Never-married            10683
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: count, dtype: int64

In [ ]:
# 2. 결측치 처리
data = data.dropna()

In [ ]:
data['race'].value_counts()

race
White                 25933
Black                  2817
Asian-Pac-Islander      895
Amer-Indian-Eskimo      286
Other                   231
Name: count, dtype: int64

In [ ]:
data['native-country'].value_counts()

native-country
United-States                 27504
Mexico                          610
Philippines                     188
Germany                         128
Puerto-Rico                     109
Canada                          107
India                           100
El-Salvador                     100
Cuba                             92
England                          86
Jamaica                          80
South                            71
China                            68
Italy                            68
Dominican-Republic               67
Vietnam                          64
Guatemala                        63
Japan                            59
Poland                           56
Columbia                         56
Iran                             42
Taiwan                           42
Haiti                            42
Portugal                         34
Nicaragua                        33
Peru                             30
Greece                           29
France                           27
Ecuador                          27
Ireland                          24
Hong                             19
Cambodia                         18
Trinadad&Tobago                  18
Thailand                         17
Laos                             17
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Hungary                          13
Honduras                         12
Scotland                         11
Holand-Netherlands                1
Name: count, dtype: int64

In [ ]:
data['education-num'].value_counts()

education-num
9     9840
10    6678
13    5044
14    1627
11    1307
7     1048
12    1008
6      820
4      557
15     542
5      455
8      377
16     375
3      288
2      151
1       45
Name: count, dtype: int64

In [ ]:
data['education'].value_counts()

education
HS-grad         9840
Some-college    6678
Bachelors       5044
Masters         1627
Assoc-voc       1307
11th            1048
Assoc-acdm      1008
10th             820
7th-8th          557
Prof-school      542
9th              455
12th             377
Doctorate        375
5th-6th          288
1st-4th          151
Preschool         45
Name: count, dtype: int64

In [ ]:
# 3. 파생변수 생성
# 자본 이득 및 손실 그룹 통합
def capital_gain_loss_group(row):
    if row['capital-gain'] > 0:
        return 'Gain'
    elif row['capital-loss'] > 0:
        return 'Loss'
    else:
        return 'No_gain_or_loss'

data['capital_gain_loss_group'] = data.apply(capital_gain_loss_group, axis=1)

# 나이 그룹
bins = [0, 25, 40, 60, 100]
labels = ['Youth', 'Middle_Aged', 'Senior', 'Elderly']
data['age_group'] = pd.cut(data['age'], bins=bins, labels=labels)

# 근무 시간 그룹
bins = [0, 20, 40, 60, 100]
labels = ['Part_time', 'Full_time', 'Over_time', 'Excessive']
data['hours_per_week_group'] = pd.cut(data['hours-per-week'], bins=bins, labels=labels)

<ipython-input-12-3e8408271d1f>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['capital_gain_loss_group'] = data.apply(capital_gain_loss_group, axis=1)
<ipython-input-12-3e8408271d1f>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['age_group'] = pd.cut(data['age'], bins=bins, labels=labels)
<ipython-input-12-3e8408271d1f>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['hours_per_week_group'] = pd.cut(data['hours-per-week'], bins=bins, labels=labels)

In [ ]:
# 4. 범주형 변수 인코딩
data['sex'] = data['sex'].map({'Male': 0, 'Female': 1})
data['marital-status'] = data['marital-status'].map({
    'Married-civ-spouse': 0, 'Divorced': 1, 'Never-married': 2,
    'Separated': 3, 'Widowed': 4, 'Married-spouse-absent': 5, 'Married-AF-spouse': 6
})
# 원핫 인코딩
data = pd.get_dummies(data, columns=['race', 'age_group', 'hours_per_week_group', 'capital_gain_loss_group', 'occupation', 'relationship'])

<ipython-input-13-65738a80455f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sex'] = data['sex'].map({'Male': 0, 'Female': 1})
<ipython-input-13-65738a80455f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['marital-status'] = data['marital-status'].map({

In [ ]:
# # 5. 이상치 제거
# numerical_cols = ['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']
# for col in numerical_cols:
#     Q1 = data[col].quantile(0.25)
#     Q3 = data[col].quantile(0.75)
#     IQR = Q3 - Q1
#     lower_bound = Q1 - 1.5 * IQR
#     upper_bound = Q3 + 1.5 * IQR
#     data = data[(data[col] >= lower_bound) & (data[col] <= upper_bound)]

In [ ]:
# 6. 변수 선택 및 독립 변수 종족변수 분리
selected_features = ['sex', 'marital-status', 'education-num', ] + \
                    [col for col in data.columns if 'race_' in col] + \
                    [col for col in data.columns if 'age_group_' in col] + \
                    [col for col in data.columns if 'hours_per_week_group_' in col] + \
                    [col for col in data.columns if 'capital_gain_loss_group_' in col] + \
                    [col for col in data.columns if 'occupation' in col] + \
                    [col for col in data.columns if 'relationship' in col]

X = data[selected_features]
y = data['income'].map({'<=50K': 0, '>50K': 1})

In [ ]:
# 7. 데이터 표준화
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [ ]:
# 8. 데이터 셋을 학습용과 테스트용으로 나눔
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

In [ ]:
# 9. Logistic Regression 모델 생성 및 학습
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

In [ ]:
# 10. 예측 및 평가
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
y_pred = model.predict(X_test)
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))
print("Classification Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.8450190618266202
Confusion Matrix:
 [[4194  309]
 [ 626  904]]
Classification Report:
               precision    recall  f1-score   support

           0       0.87      0.93      0.90      4503
           1       0.75      0.59      0.66      1530

    accuracy                           0.85      6033
   macro avg       0.81      0.76      0.78      6033
weighted avg       0.84      0.85      0.84      6033

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30162 entries, 0 to 32560
Data columns (total 48 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   age                                      30162 non-null  int64
 1   workclass                                30162 non-null  object
 2   fnlwgt                                   30162 non-null  int64
 3   education                                30162 non-null  object
 4   education-num                            30162 non-null  int64
 5   marital-status                           30162 non-null  int64
 6   sex                                      30162 non-null  int64
 7   capital-gain                             30162 non-null  int64
 8   capital-loss                             30162 non-null  int64
 9   hours-per-week                           30162 non-null  int64
 10  native-country                           30162 non-null  object
 11  income                                   30162 non-null  object
 12  race_Amer-Indian-Eskimo                  30162 non-null  bool
 13  race_Asian-Pac-Islander                  30162 non-null  bool
 14  race_Black                               30162 non-null  bool
 15  race_Other                               30162 non-null  bool
 16  race_White                               30162 non-null  bool
 17  age_group_Youth                          30162 non-null  bool
 18  age_group_Middle_Aged                    30162 non-null  bool
 19  age_group_Senior                         30162 non-null  bool
 20  age_group_Elderly                        30162 non-null  bool
 21  hours_per_week_group_Part_time           30162 non-null  bool
 22  hours_per_week_group_Full_time           30162 non-null  bool
 23  hours_per_week_group_Over_time           30162 non-null  bool
 24  hours_per_week_group_Excessive           30162 non-null  bool
 25  capital_gain_loss_group_Gain             30162 non-null  bool
 26  capital_gain_loss_group_Loss             30162 non-null  bool
 27  capital_gain_loss_group_No_gain_or_loss  30162 non-null  bool
 28  occupation_Adm-clerical                  30162 non-null  bool
 29  occupation_Armed-Forces                  30162 non-null  bool
 30  occupation_Craft-repair                  30162 non-null  bool
 31  occupation_Exec-managerial               30162 non-null  bool
 32  occupation_Farming-fishing               30162 non-null  bool
 33  occupation_Handlers-cleaners             30162 non-null  bool
 34  occupation_Machine-op-inspct             30162 non-null  bool
 35  occupation_Other-service                 30162 non-null  bool
 36  occupation_Priv-house-serv               30162 non-null  bool
 37  occupation_Prof-specialty                30162 non-null  bool
 38  occupation_Protective-serv               30162 non-null  bool
 39  occupation_Sales                         30162 non-null  bool
 40  occupation_Tech-support                  30162 non-null  bool
 41  occupation_Transport-moving              30162 non-null  bool
 42  relationship_Husband                     30162 non-null  bool
 43  relationship_Not-in-family               30162 non-null  bool
 44  relationship_Other-relative              30162 non-null  bool
 45  relationship_Own-child                   30162 non-null  bool
 46  relationship_Unmarried                   30162 non-null  bool
 47  relationship_Wife                        30162 non-null  bool
dtypes: bool(36), int64(8), object(4)
memory usage: 4.0+ MB

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

# 1. 데이터 로드
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'
columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status',
           'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss',
           'hours-per-week', 'native-country', 'income']
data = pd.read_csv(url, header=None, names=columns, na_values='?', skipinitialspace=True)


# 2. 결측치 처리
data = data.dropna()

# 3. 파생변수 생성
# 자본 이득 및 손실 그룹 통합
def capital_gain_loss_group(row):
    if row['capital-gain'] > 0:
        return 'Gain'
    elif row['capital-loss'] > 0:
        return 'Loss'
    else:
        return 'No_gain_or_loss'

data['capital_gain_loss_group'] = data.apply(capital_gain_loss_group, axis=1)

# 나이 그룹
bins = [0, 25, 40, 60, 100]
labels = ['Youth', 'Middle_Aged', 'Senior', 'Elderly']
data['age_group'] = pd.cut(data['age'], bins=bins, labels=labels)

# 근무 시간 그룹
bins = [0, 20, 40, 60, 100]
labels = ['Part_time', 'Full_time', 'Over_time', 'Excessive']
data['hours_per_week_group'] = pd.cut(data['hours-per-week'], bins=bins, labels=labels)


# 4. 범주형 변수 인코딩
data['sex'] = data['sex'].map({'Male': 0, 'Female': 1})
data['marital-status'] = data['marital-status'].map({
    'Married-civ-spouse': 0, 'Divorced': 1, 'Never-married': 2,
    'Separated': 3, 'Widowed': 4, 'Married-spouse-absent': 5, 'Married-AF-spouse': 6
})
# 원핫 인코딩
data = pd.get_dummies(data, columns=['race', 'age_group', 'hours_per_week_group', 'capital_gain_loss_group', 'occupation', 'relationship'])


# 5. 이상치 제거
numerical_cols = ['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']
for col in numerical_cols:
    Q1 = data[col].quantile(0.25)
    Q3 = data[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    data = data[(data[col] >= lower_bound) & (data[col] <= upper_bound)]


# 6. 변수 선택 및 독립 변수 종족변수 분리
selected_features = ['sex', 'marital-status', 'education-num', ] + \
                    [col for col in data.columns if 'race_' in col] + \
                    [col for col in data.columns if 'age_group_' in col] + \
                    [col for col in data.columns if 'hours_per_week_group_' in col] + \
                    [col for col in data.columns if 'capital_gain_loss_group_' in col] + \
                    [col for col in data.columns if 'occupation' in col] + \
                    [col for col in data.columns if 'relationship' in col]

X = data[selected_features]
y = data['income'].map({'<=50K': 0, '>50K': 1})

# 7. 데이터 선택 및 표준화
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)


# 8. 데이터 셋을 학습용과 테스트용으로 나눔
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)


# 9. Logistic Regression 모델 생성 및 학습
model = LogisticRegression()
model.fit(X_train, y_train)


# 10. 예측 및 평가
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
y_pred = model.predict(X_test)
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))
print("Classification Report:\n", classification_report(y_test, y_pred))

In [38]:
# import pandas as pd
# from sklearn.preprocessing import StandardScaler
# from sklearn.model_selection import train_test_split
# from sklearn.linear_model import LogisticRegression

# # 1. 데이터 로드
# url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'
# columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status',
#            'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss',
#            'hours-per-week', 'native-country', 'income']
# data = pd.read_csv(url, header=None, names=columns, na_values='?', skipinitialspace=True)


# # 2. 결측치 처리
# data = data.dropna()


# # 3. 파생변수 생성
# # 자본 이득 및 손실 그룹 통합
# def capital_gain_loss_group(row):
#     if row['capital-gain'] > 0:
#         return 'Gain'
#     elif row['capital-loss'] > 0:
#         return 'Loss'
#     else:
#         return 'No_gain_or_loss'

# data['capital_gain_loss_group'] = data.apply(capital_gain_loss_group, axis=1)

# # 나이 그룹
# bins = [0, 25, 40, 60, 100]
# labels = ['Youth', 'Middle_Aged', 'Senior', 'Elderly']
# data['age_group'] = pd.cut(data['age'], bins=bins, labels=labels)

# # 근무 시간 그룹
# bins = [0, 20, 40, 60, 100]
# labels = ['Part_time', 'Full_time', 'Over_time', 'Excessive']
# data['hours_per_week_group'] = pd.cut(data['hours-per-week'], bins=bins, labels=labels)


# # 4. 범주형 변수 인코딩
# data['sex'] = data['sex'].map({'Male': 0, 'Female': 1})
# data['marital-status'] = data['marital-status'].map({
#     'Married-civ-spouse': 0, 'Divorced': 1, 'Never-married': 2,
#     'Separated': 3, 'Widowed': 4, 'Married-spouse-absent': 5, 'Married-AF-spouse': 6
# })
# data['age_group'] = data['age_group'].map({'Youth': 0, 'Middle_Aged': 1, 'Senior': 2, 'Elderly': 3})
# data['hours_per_week_group'] = data['hours_per_week_group'].map({'Part_time': 0, 'Full_time': 1, 'Over_time': 2, 'Excessive': 3})
# # 원핫 인코딩
# data = pd.get_dummies(data, columns=['race', 'capital_gain_loss_group', 'occupation', 'relationship'])


# # 5. 변수 선택 및 독립 변수 종족변수 분리
# selected_features = ['sex', 'marital-status', 'education-num', ] + \
#                     [col for col in data.columns if 'race_' in col] + \
#                     [col for col in data.columns if 'age_group_' in col] + \
#                     [col for col in data.columns if 'hours_per_week_group_' in col] + \
#                     [col for col in data.columns if 'capital_gain_loss_group_' in col] + \
#                     [col for col in data.columns if 'occupation' in col] + \
#                     [col for col in data.columns if 'relationship' in col]

# X = data[selected_features]
# y = data['income'].map({'<=50K': 0, '>50K': 1})


# # 6. 데이터 선택 및 표준화
# scaler = StandardScaler()
# X_scaled = scaler.fit_transform(X)


# # 7. 데이터 셋을 학습용과 테스트용으로 나눔
# X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=13)


# # 8. Logistic Regression 모델 생성 및 학습
# model = LogisticRegression()
# model.fit(X_train, y_train)


# # 9. 예측 및 평가
# from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
# y_pred = model.predict(X_test)
# print("Accuracy:", accuracy_score(y_test, y_pred))
# print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))
# print("Classification Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.8377258412066965
Confusion Matrix:
 [[4175  350]
 [ 629  879]]
Classification Report:
               precision    recall  f1-score   support

           0       0.87      0.92      0.90      4525
           1       0.72      0.58      0.64      1508

    accuracy                           0.84      6033
   macro avg       0.79      0.75      0.77      6033
weighted avg       0.83      0.84      0.83      6033