<a href="https://colab.research.google.com/github/hyojunyee/kita_2404/blob/main/m3_%EB%B6%84%EC%84%9D%20%EB%9D%BC%EC%9D%B4%EB%B8%8C%EB%9F%AC%EB%A6%AC/Task/Task_0527.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task1_0527. 4개의 Series를 결합하여 데이터프레임을 생성하여 출력하세요.
- 출력한 데이터프레임에서 추출하고 싶은 5개의 데이터를 인덱싱하여 출력
- null값을 3개 추가
- null값의 개수를 확인하고 삭제
- 2개의 데이터를 수정
- 1개의 행을 삭제

In [13]:
import pandas as pd
import numpy as np

# 4개의 Series 생성
s1 = pd.Series(['kim', 'lee', 'park', 'yoon', 'ryu'], name='이름')
s2 = pd.Series([22, 35, 27, 29, 30], name='나이')
s3 = pd.Series([1, 2, 1, 1, 2], name='성별')
s4 = pd.Series(['seoul', 'seoul', 'degu', 'busan', 'seoul'], name='주소')

In [14]:
# 데이터프레임 생성
df = pd.concat([s1, s2, s3, s4], axis=1)
print("Original DataFrame:")
print(df)

Original DataFrame:
     이름  나이  성별     주소
0   kim  22   1  seoul
1   lee  35   2  seoul
2  park  27   1   degu
3  yoon  29   1  busan
4   ryu  30   2  seoul

In [15]:
# 5개의 데이터를 인덱싱하여 출력
indexed_data = df.loc[0:4, ['이름', '성별']]
print("\nIndexed Data (5 items):")
print(indexed_data)

Indexed Data (5 items):
     이름  성별
0   kim   1
1   lee   2
2  park   1
3  yoon   1
4   ryu   2

In [16]:
# null 값을 3개 추가
df.loc[1, '주소'] = np.nan
df.loc[2, '나이'] = np.nan
df.loc[3, '성별'] = np.nan
print("\nDataFrame with null values added:")
print(df)

DataFrame with null values added:
     이름    나이   성별     주소
0   kim  22.0  1.0  seoul
1   lee  35.0  2.0    NaN
2  park   NaN  1.0   degu
3  yoon  29.0  NaN  busan
4   ryu  30.0  2.0  seoul

In [17]:
# null 값의 개수를 확인
null_count = df.isnull().sum().sum()
print("\nNumber of null values:", null_count)

Number of null values: 3

In [18]:
#  null 값을 삭제
df_cleaned = df.dropna()
print("\nDataFrame after dropping null values:")
print(df_cleaned)

DataFrame after dropping null values:
    이름    나이   성별     주소
0  kim  22.0  1.0  seoul
4  ryu  30.0  2.0  seoul

In [19]:
# 2개의 데이터를 수정
df_cleaned.loc[0, '이름'] = 'seo'
df_cleaned.loc[4, '나이'] = 27
print("\nDataFrame after modifying 2 values:")
print(df_cleaned)

DataFrame after modifying 2 values:
    이름    나이   성별     주소
0  seo  22.0  1.0  seoul
4  ryu  27.0  2.0  seoul

In [20]:
# 1개의 행을 삭제
df_cleaned = df_cleaned.drop(4)
print("\nDataFrame after deleting 1 row:")
print(df_cleaned)

DataFrame after deleting 1 row:
    이름    나이   성별     주소
0  seo  22.0  1.0  seoul

In [ ]:
import pandas as pd
import numpy as np

# 4개의 Series 생성
series1 = pd.Series([1, 2, 3, 4, 5], name='A')
series2 = pd.Series([10, 20, 30, 40, 50], name='B')
series3 = pd.Series([100, 200, 300, 400, 500], name='C')
series4 = pd.Series([1000, 2000, 3000, 4000, 5000], name='D')

# 데이터프레임 생성
df = pd.concat([series1, series2, series3, series4], axis=1)
print("Original DataFrame:")
print(df)

# 5개의 데이터를 인덱싱하여 출력
indexed_data = df.loc[0:4, ['A', 'B']]
print("\nIndexed Data (5 items):")
print(indexed_data)

# null 값을 3개 추가
df.loc[1, 'A'] = np.nan
df.loc[2, 'C'] = np.nan
df.loc[3, 'D'] = np.nan
print("\nDataFrame with null values added:")
print(df)

# null 값의 개수를 확인하고 삭제
null_count = df.isnull().sum().sum()
print("\nNumber of null values:", null_count)

df_cleaned = df.dropna()
print("\nDataFrame after dropping null values:")
print(df_cleaned)

# 2개의 데이터를 수정
df_cleaned.loc[0, 'A'] = 9
df_cleaned.loc[4, 'B'] = 99
print("\nDataFrame after modifying 2 values:")
print(df_cleaned)

# 1개의 행을 삭제
df_cleaned = df_cleaned.drop(4)
print("\nDataFrame after deleting 1 row:")
print(df_cleaned)

Task2_0527. 학생별 성적 데이터셋으로 의미있게 데이터 셋을 수정하세요.(아래 사항 반영)
- S1 ~ S10은 평균 점수를 기준으로 1등급에서 10등급이고 등급간 점수 차는 5점
- 결시자가 국어 3명, 수학 2명 있음
- 영어, 수학의 평균 점수가 국어 대비 5점 낮음

In [ ]:
import pandas as pd
import numpy as np
df = np.random.randint(1,5,size=(10,5))
df=pd.DataFrame(df,index=['s1','s2','s3','s4','s5','s6','s7','s8','s9','s10'],
               columns=['국어','영어','수학','과학','사회'])
df

# 국어 점수 설정
korean_scores = [100, 95, 90, 85, 80, 75, 70, 65, 60, 55]  # 1등급에서 10등급까지 5점 차이로 설정
df['국어'] = korean_scores
science_scores = [100, 95, 90, 85, 80, 75, 70, 65, 60, 55]
society_scores = [100, 95, 90, 85, 80, 75, 70, 65, 60, 55]

# 영어와 수학 점수 설정 (국어 평균 점수 대비 5점 낮게)
korean_mean = np.mean(korean_scores)
science_mean = np.mean(science_scores)
society_mean = np.mean(society_scores)
english_scores = korean_mean - 5 + np.random.normal(0, 5, 10)  # 노이즈를 추가하여 현실성 부여
math_scores = korean_mean - 5 + np.random.normal(0, 5, 10)

df['국어'] = np.clip(korean_scores, 0, 100).astype(int)
df['영어'] = np.clip(english_scores, 0, 100).astype(int)
df['수학'] = np.clip(math_scores, 0, 100).astype(int)
df['과학'] = np.clip(science_scores, 0, 100).astype(int)
df['사회'] = np.clip(society_scores, 0, 100).astype(int)

# 결시자 반영 (결시자는 -1로 표시)
df.loc[np.random.choice(df.index, 3, replace=False), '국어'] = '결시자'
df.loc[np.random.choice(df.index, 2, replace=False), '수학'] = '결시자'

df

      국어  영어   수학   과학   사회
s1   100  70  결시자  100  100
s2    95  64   70   95   95
s3   결시자  62   72   90   90
s4   결시자  69   75   85   85
s5    80  70   68   80   80
s6    75  75   69   75   75
s7    70  79   80   70   70
s8   결시자  73  결시자   65   65
s9    60  69   75   60   60
s10   55  77   77   55   55

Task3_0527. df1에서 결측값 처리 후 딕셔너리, 리스트로 변환하여 출력하세요.

In [ ]:
df1 = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve"],
    "Math": [85, np.nan, 88, 90, 76],
    "English": [92, 85, 89, np.nan, 80],
    "Science": [78, 90, 95, 85, 89],
    "History": [88, 92, 85, 91, np.nan]
})

# 결측값에 0을 채워넣음
df1_fillna = df1.fillna(0)

# 딕셔너리 변환
df1_dict = df1_fillna.to_dict()
print(df1_dict)

# 데이터프레임은 여러 행과 열로 구성된 구조를 가지고 있으며, 각 셀에는 데이터 값이 저장됨
# tolist() 함수는 데이터프레임을 리스트 형태로 변환하는 함수이지만, 리스트는 1차원 구조만을 지원
# 따라서, 다차원 구조인 데이터프레임을 직접 리스트로 변환하려고 하면 오류가 발생
# df1_list = df1_fillna.tolist()
# print(df1_list)

# 리스트 변환
df1_list = [list(value) for value in df1_dict.values()]
print(df1_list)

{'Name': {0: 'Alice', 1: 'Bob', 2: 'Charlie', 3: 'David', 4: 'Eve'}, 'Math': {0: 85.0, 1: 0.0, 2: 88.0, 3: 90.0, 4: 76.0}, 'English': {0: 92.0, 1: 85.0, 2: 89.0, 3: 0.0, 4: 80.0}, 'Science': {0: 78, 1: 90, 2: 95, 3: 85, 4: 89}, 'History': {0: 88.0, 1: 92.0, 2: 85.0, 3: 91.0, 4: 0.0}}
[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

Task4_0527. df2에서 아래와 같이 데이터 필터링 및 정렬 후 배열, 딕셔너리, 리스트로 변환하여 출력하세요.
- Math 점수가 80 이상인 학생만 선택
- English 점수를 기준으로 내림차순 정렬

In [ ]:
df2 = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve"],
    "Math": [85, 79, 88, 90, 76],
    "English": [92, 85, 89, 93, 80],
    "Science": [78, 90, 95, 85, 89],
    "History": [88, 92, 85, 91, 84]
})

# 수학점수가 80이상인 셀 선택
df_filt = df2[df2["Math"] >= 80]
# 영어점수 내림차순 정렬
df_sort = df_filt.sort_values(by="English", ascending=False)

# 출력
print(df_sort)

      Name  Math  English  Science  History
3    David    90       93       85       91
0    Alice    85       92       78       88
2  Charlie    88       89       95       85

Task5_0527. df3에서 각 학생의 평균 점수 계산 후 배열, 딕셔너리, 리스트로 변환하여 출력하세요.

In [ ]:
df3 = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve", "Alice", "Bob", "Charlie", "David", "Eve"],
    "Subject": ["Math", "Math", "Math", "Math", "Math", "English", "English", "English", "English", "English"],
    "Score": [85, 79, 88, 90, 76, 92, 85, 89, 93, 80]
})

# 각 학생의 평균 점수 계산
df3_avg = df3.groupby('Name')['Score'].mean()

# 배열 변환
array_avg = df3_avg.to_numpy()
print(array_avg)

# 딕셔너리 변환
dict_avg = df3_avg.to_dict()
print(dict_avg)

# 리스트 변환
list_avg = df3_avg.tolist()
print(list_avg)

[88.5 82.  88.5 91.5 78. ]
{'Alice': 88.5, 'Bob': 82.0, 'Charlie': 88.5, 'David': 91.5, 'Eve': 78.0}
[88.5, 82.0, 88.5, 91.5, 78.0]

Task6_0527. df4에서 특정 열의 데이터 타입을 변환한 후 변환된 타입을 확인하세요.

In [ ]:
df4 = pd.DataFrame({
    'A': ['1', '2', '3', '4'],
    'B': ['5.1', '6.2', '7.3', '8.4'],
    'C': ['2021-01-01', '2021-02-01', '2021-03-01', '2021-04-01']
})

# 딕셔너리 변환
df4_dict = df4.to_dict()

# 리스트 변환
df4_list = df4.values.tolist()

# 출력
print(df4_dict)
print(type(df4_dict))
print(df4_list)
print(type(df4_list))

{'A': {0: '1', 1: '2', 2: '3', 3: '4'}, 'B': {0: '5.1', 1: '6.2', 2: '7.3', 3: '8.4'}, 'C': {0: '2021-01-01', 1: '2021-02-01', 2: '2021-03-01', 3: '2021-04-01'}}
<class 'dict'>
[['1', '5.1', '2021-01-01'], ['2', '6.2', '2021-02-01'], ['3', '7.3', '2021-03-01'], ['4', '8.4', '2021-04-01']]
<class 'list'>

Task7_0527. df5에서 나이가 25 이상인 행을 출력하세요.

In [ ]:
df5 = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [24, 27, 22, 32, 29],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
})

# 나이가 25 이상인 행 선택
df_filt = df5[df5['Age'] >= 25]

# 출력
print(df_filt)

    Name  Age         City
1    Bob   27  Los Angeles
3  David   32      Houston
4    Eve   29      Phoenix