In [3]:
import matplotlib.colors as mcolors
import pandas as pd
import matplotlib.font_manager as fm
import os
import matplotlib.gridspec as gridspec
from collections import Counter
import ast

In [4]:
# 예스24 데이터셋 = yes_df
yes24_df = pd.read_csv('D:\kdt_240424\workspace\m4_웹애플리케이션구축\Teamproject_web_app_team5\static\data\yes24_bestseller_data_final.csv')
yes24_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13620 entries, 0 to 13619
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          13620 non-null  int64
 1   Month         13620 non-null  int64
 2   Category      13620 non-null  object
 3   Title         13620 non-null  object
 4   Author        13620 non-null  object
 5   Publisher     13620 non-null  object
 6   Price         13620 non-null  int64
 7   Publish_Date  13620 non-null  object
 8   Sales_Index   13620 non-null  int64
 9   Rating        13620 non-null  float64
 10  Age_Scores    13620 non-null  object
 11  Pages         13572 non-null  object
 12  Keywords      13620 non-null  object
 13  Gender        13620 non-null  int64
 14  Age           13620 non-null  int64
 15  month         13620 non-null  int64
dtypes: float64(1), int64(7), object(8)
memory usage: 1.7+ MB

In [5]:
# 결측치 확인 및 dtype 확인
print(yes24_df.isna().sum())
print(yes24_df.dtypes)

Year             0
Month            0
Category         0
Title            0
Author           0
Publisher        0
Price            0
Publish_Date     0
Sales_Index      0
Rating           0
Age_Scores       0
Pages           48
Keywords         0
Gender           0
Age              0
month            0
dtype: int64
Year              int64
Month             int64
Category         object
Title            object
Author           object
Publisher        object
Price             int64
Publish_Date     object
Sales_Index       int64
Rating          float64
Age_Scores       object
Pages            object
Keywords         object
Gender            int64
Age               int64
month             int64
dtype: object

In [6]:
yes24_df[yes24_df['Pages'].isna()].head()

,Year,Month,Category,Title,Author,Publisher,Price,Publish_Date,Sales_Index,Rating,Age_Scores,Pages,Keywords,Gender,Age,month
3327,2024,1,역사,나의 문화유산답사기 소장본 세트,유홍준 저,창비,131400,2023년 04월,4452,10.0,{},NaN,"['#인문위클리레터에소개된책', '#ㅁㅁ로본세계사', '#이책이나를출판사도살렸다',...",1,30,6
3507,2024,2,역사,나의 문화유산답사기 소장본 세트,유홍준 저,창비,131400,2023년 04월,4452,10.0,{},NaN,"['#인문위클리레터에소개된책', '#ㅁㅁ로본세계사', '#이책이나를출판사도살렸다',...",1,30,6
3687,2024,3,역사,나의 문화유산답사기 소장본 세트,유홍준 저,창비,131400,2023년 04월,4452,10.0,{},NaN,"['#인문위클리레터에소개된책', '#ㅁㅁ로본세계사', '#이책이나를출판사도살렸다',...",1,30,6
3867,2024,4,역사,나의 문화유산답사기 소장본 세트,유홍준 저,창비,131400,2023년 04월,4452,10.0,{},NaN,"['#인문위클리레터에소개된책', '#ㅁㅁ로본세계사', '#이책이나를출판사도살렸다',...",1,30,6
4047,2024,5,역사,나의 문화유산답사기 소장본 세트,유홍준 저,창비,131400,2023년 04월,4452,10.0,{},NaN,"['#인문위클리레터에소개된책', '#ㅁㅁ로본세계사', '#이책이나를출판사도살렸다',...",1,30,6

In [17]:
df = yes24_df.copy()

In [13]:
def get_book_recommendations(gender, age):
    # 성별로 1위 카테고리 찾기
    gender_cat = df2.loc[df2['Gender'] == gender].groupby('Category')['Sales_Index'].mean().idxmax()
    
    # 나이로 1위 카테고리 찾기 
    age_cat = df2.loc[df2['Age'] == age].groupby('Category')['Sales_Index'].mean().idxmax()
    
    # 두 카테고리의 교집합 찾기
    top_category = set([gender_cat]).intersection(set([age_cat]))
    
    # 교집합 카테고리 중 가장 높은 Sales_Index 도서 추천
    if top_category:
        top_category = list(top_category)[0]
        top_book = df2.loc[(df2['Category'] == top_category)].sort_values('Sales_Index', ascending=False).iloc[0]
        return top_book['Title'], top_book['Author'], top_category
    else:
        return None, None, None

In [14]:
get_book_recommendations(0, 30)

('세이노의 가르침', '세이노(SayNo) 저', '자기계발')

In [38]:
def get_book_recommendations(gender, age):
    # 성별로 1위 카테고리 찾기
    if gender == '남성':
        gender_cat = df.loc[df['Gender'] == 0].groupby('Category')['Sales_Index'].mean().idxmax()
    elif gender == '여성':
        gender_cat = df.loc[df['Gender'] == 1].groupby('Category')['Sales_Index'].mean().idxmax()
    else:
        gender_cat = None
    
    # 나이로 1위 카테고리 찾기 
    age_cat = df.loc[df['Age'] == age // 10 * 10].groupby('Category')['Sales_Index'].mean().idxmax()
    
    # 두 카테고리의 교집합 찾기
    # top_category = set([gender_cat]).intersection(set([age_cat]))
    
    # 두 카테고리의 합집합 찾기
    top_categories = set([gender_cat]).union(set([age_cat]))
    
    # 합집합 카테고리 중 가장 높은 Sales_Index 도서 추천
    if top_categories:
        recommendations = []
        for cat in top_categories:
            top_book = df.loc[(df['Category'] == cat)].sort_values('Sales_Index', ascending=False).iloc[0]
            recommendations.append(f"제목: {top_book['Title']}, 작가: {top_book['Author']}, 카테고리: {cat}")
        return '\n'.join(recommendations)
    else:
        return None

In [39]:
print(get_book_recommendations('여성', 25))

제목: 마흔에 읽는 쇼펜하우어 (200쇄 기념 확장판), 작가: 강용수 저, 카테고리: 인문
제목: 세이노의 가르침, 작가: 세이노(SayNo) 저, 카테고리: 자기계발

In [36]:
from flask import Flask, render_template, request, redirect, url_for, request, jsonify