제어문(control statement)은 프로그램의 흐름을 제어하는데 사용

#### 조건문 (Conditional Statements):
- if: 특정 조건이 참(True)일 때 코드 블록을 실행
    - 조건은 비교 연산자(==, !=, <, >, <=, >=)와 논리 연산자(and, or, not)를 사용하여 표현할 수 있다
- elif: 이전의 if 또는 elif 조건이 거짓(False)일 때 다른 조건을 검사
    - elif는 'else if'의 축약형으로, 이전 if 또는 elif 문의 조건이 거짓(False)일 때 다른 조건을 검사
    - 여러 elif 문을 사용하여 다양한 조건을 검사할 수 있다
- else:
    - 이전의 if 또는 elif 문의 조건이 모두 거짓일 때 실행할 코드 블록을 지정

In [ ]:
x = 10
if x > 5:
  print("x는 5보다 큽니다.")
elif x == 5:
  print("x는 5입니다.")
else:
  print("x는 5보다 작습니다.")

x는 5보다 큽니다.

In [ ]:
x = 10
if x >= 5:
  print("x는 5보다 크거나 같다.")
else:
  print("x는 5보다 작습니다.")

x는 5보다 크거나 같다.

In [ ]:
# 각 조건이 서로 독립적일때 if문을 연속해서 사용
x = 10
y = 5

if x > 5:
  print("x는 5보다 큽니다")
if y < 10:
  print("y는 10보다 작습니다")
if x > y:
  print("x는 y보다 큽니다")

x는 5보다 큽니다
y는 10보다 작습니다
x는 y보다 큽니다

In [ ]:
x = 10
y = 5
if x > 5:
  if y>= 3:
    print("x는 5보다 큽니다")
  else:
    print("'x는 5보다크고 y는 3보다 작습니다'")
else:
  print("는 5보다 작거나 같습니다")

x는 5보다 큽니다

In [ ]:
# Q. 이중 조건문을 사용하여 코들르 작성하세요.(조건 내용은 자유,, 단 if~ if 문 ~elif ~ else 중첩하여 사용)

x는 짝수 입니다.

In [ ]:
score = int(input("점수를 입력하세요 : "))
if score < 70:
  print("점수가 70점 미만입니다. 채점을 진행하지 않습니다.")
else:
  if score >= 90:
    print("A")
  elif score >= 80:
    print("B")
  else:
    print("C")

점수를 입력하세요 : 82
B

In [ ]:
# Q. listdata = ['a', 'b', 'c']에서 조건문을 이용해서 아래와 같이 출력하세요

listdata = ['a', 'b', 'c']

if 'a' in listdata:
  print('a가 listdata에 있습니다.')
if 'b' in listdata:
  print('b가 listdata에 있습니다.')
if 'c' in listdata:
  print('c가 listdata에 있습니다.')

a가 listdata에 있습니다.
b가 listdata에 있습니다.
c가 listdata에 있습니다.

In [ ]:
listdata = ['a', 'b', 'c']

for i in listdata:
  if i in listdata:
    print(f"{i}가 listdata에 있습니다")

a가 listdata에 있습니다
b가 listdata에 있습니다
c가 listdata에 있습니다

In [ ]:
# Q 돈이 만원이상 있으면 택시를 타고, 돈이 없으면 걸어간다를 만족하는 조건문을 작성하세요

pocket_money = int(input("주머니에 있는돈 : "))
if pocket_money >= 10000:
  print("택시를 타고 간다")
else:
  print("걸어간다")

주머니에 있는돈 : 10000
택시를 타고 간다

In [ ]:
# Q. 조건부 표현식을 한줄의 조건문으로 작성하세요.
score = 70
if score >= 60:
  message = "success"
else:
  message = "failure"

print(message)

succesess

In [ ]:
score = 70
print(["success" if score >= 60 else "failure"])

['success']

In [ ]:
# Q. "수입과 지출금액을 비교해서 수입이 많으면 저축 증가, 반대이면 빚이 증가" 프로그램 작성

income = int(input("수입 : "))
spend = int(input("지출 : "))

if income > spend:
  print("저축이", income - spend, "만큼 증가하였습니다. ^^")
elif income < spend:
  print("빚이", income - spend, "만큼 증가하였습니다. ㅠㅠ")
else:
  print("변한게 없습니다... ㅇoㅇ")

수입 : 100000000
지출 : 40000000
저축이 60000000 만큼 증가하였습니다. ^^

#### 반복문 (Loop Statements):
- for: 시퀀스(리스트, 튜플, 문자열 등)의 아이템을 순회하면서 코드 블록을 실행
- while: 특정 조건이 참인 동안 코드 블록을 반복하여 실행

In [ ]:
# for 루프는 시퀀스(리스트, 튜플, 문자열 등)나 반복 가능한 객체(iterable)의 요소를 순회
for i in range(5):
  print(i, end=" ")
print('\n')

count = 0
while count < 5:
  print(count, end=" ")
  count += 1

0 1 2 3 4

0 1 2 3 4

In [ ]:
# 리스트를 순회하는 예
for i in [1, 2, 3, 4, 5]:
  print(i, end=" ")
print('\n')
# 문자열을 순회하는 예
for char in "hello":
  print(char, end=" ")

1 2 3 4 5

h e l l o

In [ ]:
# while루프는 주어진 조건이 참(True)인 동안 코드 블록을 반복
# 조건이 거짓(False)이 되면 루프가 종료
count = 0
sum = 0
while count < 5:
  sum += count
  print(sum, end=" ")
  count += 1

0 1 3 6 10

In [ ]:
# Q. d에서 반복문을 사용하여 97 98 99을  출력하세요.
d = {'a' : 97, 'b' : 98, "c" : 99}
for key in d:
  print(d[key], end=" ")
  print(type(d[key]), end=" ")

97 <class 'int'> 98 <class 'int'> 99 <class 'int'>

In [ ]:
print(d.keys())
print(type(d.keys()))

dict_keys(['a', 'b', 'c'])
<class 'dict_keys'>

In [ ]:
print(d.values())
print(type(d.values()))

dict_values([97, 98, 99])
<class 'dict_values'>

dict_values 클래스의 이해:
- 클래스 정의: 파이썬에서 클래스는 객체를 생성하는 데 사용되는 템플릿. dict_values는 딕셔너리의 값을 보여주는 뷰 객체를 생성하는 특별한 내장 클래스.
- 뷰 객체: dict_values 객체는 딕셔너리의 값에 대한 동적인 뷰를 제공. "뷰(view)"란 원본 딕셔너리 객체의 값이 변하면 그 변화가 dict_values 객체에도 반영되는, 원본 데이터의 실시간 반영본을 의미. 이는 딕셔너리의 값들이 수정, 추가, 삭제될 때 dict_values 객체가 자동으로 업데이트된다는 의미.
- 객체 인스턴스: dict_values 객체는 dict_values 클래스의 인스턴스. 이 클래스는 파이썬의 다른 모든 클래스처럼 특정 데이터 구조와 메서드를 가진다. 예를 들어, dict_values 객체는 순회 가능하며 (iterable), 딕셔너리의 모든 값을 순차적으로 접근할 수 있는 메서드를 제공.

In [ ]:
d['b'] = 100
print(d)
print(d.values())

{'a': 97, 'b': 100, 'c': 99}
dict_values([97, 100, 99])

#### 제어문 관련 키워드:
- break: 현재의 반복문을 중단하고, 반복문 바깥의 코드를 실행
- continue: 반복문의 나머지 부분을 건너뛰고, 다음 반복을 시작

In [ ]:
for i in range(5):
  if i == 3:
    break
  print(i,end=' ')
print('\n')

for i in range(5):
  if i == 3:
    continue
  print(i,end=' ')

0 1 2

0 1 2 4

In [ ]:
for i in range(10):
  if i == 5:
    break
  print(i,end=' ')
print('\n')

for i in range(10):
  if i % 2 == 0 :
    continue
  print(i,end=' ')

0 1 2 3 4

1 3 5 7 9

In [ ]:
# for 또는 while 루프에 else 절을 사용하면, 루프가 정상적으로 완료된 후에 실행할
for i in range(5):
  print(i, end=' ')
else:
  print("루프가 완료되었습니다.")
# print("루프가 완료되었습니다.")  # 루프밖에서도 가능
print('\n')

count = 0
while count < 5:
  print(count, end=' ')
  count += 1
else:
  print("루프가 완료되었습니다.")
# print("루프가 완료되었습니다.")  # 루프밖에서도 가능

0 1 2 3 4 루프가 완료되었습니다.


0 1 2 3 4 루프가 완료되었습니다.

In [ ]:
# break 문을 사용하여 루프를 중단하면 else절은 실행되지 않음
for i in range(5):
  if i == 3:
    print(f'{i}에서 루프를 중단합니다.')
    break
else:
  print("루프가 완료되었습니다.")

3에서 루프를 중단합니다.

조건과 반복을 결합

In [ ]:
# 10 미만의 홀수만 출력
for i in range(10):
  if i % 2 == 1:
    print(i,end=' ')

1 3 5 7 9

In [ ]:
# Q. 1~10 범위의 정수에서 1부터 5까지만 출력하세요

for i in range(1, 11):
  if i > 5:
      break
  print(i,end=' ')

1 2 3 4 5

In [ ]:
# Q. numbers 리스트에서 15, 20, 25를 출력하세요.(for문과 if 조건 사용 필수)
numbers = [5, 15, 6, 20, 7, 25]

for i in numbers:
  if i % 5 == 0 and i > 10:
    print(i,end=' ')
print('\n')

for i in numbers:
  if i >= 15:
    print(i,end=' ')
print('\n')


numbers.sort()
print(numbers[-3:])   #for if 안씀.

15 20 25

15 20 25

[15, 20, 25]

In [ ]:
# 특정 조건을 만족할 때까지 반복
count = 0
while 1: # 무한 루프
  count += 1
  if count > 5:
    break # count가 5보다 클 때 루프를 종료합니다.
  print(count)
print('루프가 종료됨')

루프가 종료됨

In [ ]:
# Q. 리스트에서 특정값 찾기
numbers = [1, 2, 3, 4, 5]
target = 5

for num in numbers:
  if num == target:
    print(f'{target}을(를) 찾았습니다!')
    break
else:
  print(f'{target}을(를) 찾지못했습니다')

5을(를) 찾았습니다!

In [ ]:
# Q. 1 ~ 20 사이의 정수에서 10보다 작은 홀수만 출력

for i in range(1, 21):
  if i < 10:
    if i % 2 != 0:
      print(i,end=' ')
  else:
    break

1 3 5 7 9

In [ ]:
# while ~ continue ~ break
# 20보다 작은 정수에서 1 3 5 7 9 만을 출력
a = 0
while a < 20:
  a += 1
  if a % 2 == 0:
    continue
  if a >=10:
    break
  print(a, end=' ')

1 3 5 7 9

In [ ]:
# Q. 정수 1 부터 n까지 더할 때 그 합이 1000보다 커지게 되는 n과 합을 구하세요.(while ~ break)

n = 1
sum = 0

while 1:
  sum += n
  if sum > 1000:
    print(n)
    print(sum)
    break
  n = n + 1

45
1035

In [ ]:
n = 0
sum = 0

while 1:
  n = n + 1
  sum += n
  if sum > 1000:
    print(n)
    print(sum)
    break

In [ ]:
n = 0
sum = 0

while sum < 1000:
  n = n + 1
  sum += n
print(n)
print(sum)

45
1035

In [ ]:
# Q. while문을 사용해 1부터 1000까지의 정수 중 3의 배수의 합을 구하세요.

In [ ]:
count = 1
multiple_sum = 0

while count <= 1000:
  if count % 3 == 0:
    multiple_sum += count
  count += 1
print(multiple_sum)

166833

In [ ]:
n = 0
sum = 0
while n < 1000:
  n += 1
  if n % 3 == 0:
    sum += n
print(sum)

166833

In [ ]:
n = 3
sum = 0
while n <= 1000:
  sum += n
  n += 3
print(sum)

166833

In [ ]:
# Q. 정수를 입력하면 홀수 짝수를 판별하는 프로그램 작성

In [ ]:
while True:
  try: #예외처리
    int1 = int(input("정수를 입력하세요 :"))
    if int1 % 2 == 1:
      print(f'{int1}은(는) 홀수입니다.')
    else:
      print(f'{int1}은(는) 홀수 입니다.')
    break
  except ValueError:
    print('정수가 아닌 값이 입력되었어요. 정수를 입력하세요')

정수를 입력하세요 :0.2
정수가 아닌 값이 입력되었어요. 정수를 입력하세요
정수를 입력하세요 :1
1은(는) 홀수입니다.

In [ ]:
# 입력받은 문자열의 각 문자를 그 다음 문자로 변경하여 출력하세요. (ABC -> BCA)

data = input("문자열을 입력하세요 : ")
for i in range(len(data)):
  if i == 0:
    continue
  print(data[i], end = ' ')
else:
  print(data[0])

문자열을 입력하세요 : abc
b c a

zip() 함수   *이터러블은 반복가능한
- 여러 개의 이터러블(리스트, 튜플 등)을 인자로 받아, 동일한 인덱스에 있는 요소들을 하나의 튜플로 묶어서 이터레이터를 반환
- 데이터를 병렬로 처리할 때 유용

In [ ]:
list1 = [1, 2, 3, 4]
list2 = ['a', 'b', 'c', 'd']
zipped = zip(list1, list2)
print(list(zipped))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [ ]:
# Q. 두 개의 리스트(이름과 성)를 사용하여 각 사람의 전체 이름을 생성하세요.
first_names = ["John", "Jane", "Corey", "Travis"]
last_names = ["doe", "Smith", "Turner", "Scott"]

full_name = [first + " " + last for first, last in zip(first_names, last_names)]
print(list(full_name))

['John doe', 'Jane Smith', 'Corey Turner', 'Travis Scott']

In [ ]:
# Q. 학생들의 수학과 영어 점수를 각각의 리스트로 받아 평균 점수를 계산하세요.
math_scores = [88, 92, 79, 92, 85]
english_scores = [90, 91, 85, 88, 86]

average_scores = [(math + english) / 2 for math, english in zip(math_scores, english_scores)]
print(average_scores)

[89.0, 91.5, 82.0, 90.0, 85.5]

In [ ]:
# Q. 상품 이름과 가격이 각각 다른 리스트에 저장되어 있을때, 상품명과 가격을 튜플로 묶어 출력하세요.
products = ["apple", "banana", "cherry"]
prices = [1.2, 0.5, 2.5]

for product, price in zip(products, prices):
  print(f'product : {product}, Price ${price}')

product : apple, Price $1.2
product : banana, Price $0.5
product : cherry, Price $2.5

#### 파이썬의 random 모듈
난수를 생성하기 위한 다양한 함수를 제공
- 기본 난수 생성:
  - random.random(): 0과 1 사이의 무작위 부동소수점 숫자를 반환.
- 범위 지정 난수 생성:
  - random.randint(a, b): a와 b 사이의 무작위 정수를 반환(b 포함).
  - random.randrange(start, stop[, step]): 지정된 범위에서 무작위 정수를 반환. step을 설정하여 수의 간격을 조정할 수 있다.
- 시퀀스용 함수:
  - random.choice(sequence): 주어진 시퀀스(리스트, 튜플 등)에서 무작위로 아이템을 선택하여 반환.
  - random.shuffle(x[, random]): 리스트의 항목들을 무작위로 섞는다. random은 섞기를 위한 함수를 커스텀할 때 사용.
  - random.sample(population, k): 주어진 시퀀스에서 무작위로 k개의 항목을 뽑아 새 리스트로 반환.
- 분포 기반 난수 생성:
  - random.uniform(a, b): a와 b 사이의 무작위 부동소수점 숫자를 균등 분포로 반환.
  - random.gauss(mu, sigma): 평균 mu와 표준편차 sigma를 가지는 정규 분포에서 난수를 반환.

In [ ]:
import random

#0과 1사이의 난수 생성
print(random.random())
# 1에서 10사이의 정수 반환()
print(random.randint(1, 10))
# 리스트에서 무작위로 하나의 원소 선택
items = [1, 2, 3, 4, 5]
print(random.choice(items))
#리스트의 원소를 무작위로 섞기
random.shuffle(items)
print(items)
#정규분포 난수 생성
mean = 0
std_dev = 1
print(random.gauss(mean, std_dev))

0.3552611168993953
9
2
[1, 2, 4, 3, 5]
0.260825886677911

In [ ]:
from random import shuffle # random 모듈에서 셔플만 가져온다.
male = ['철수', '갑돌','로미오','이몽룡','온돌']
shuffle(male)
print(male)

['갑돌', '온돌', '이몽룡', '로미오', '철수']

Task1_0430. 남녀 파트너 정해주기 프로그램(zip)

같은 수의 남녀 모임에서 파트너를 랜덤하게 정해주는 프로그램을 만들어 보세요

male = ['철수','갑돌','로미오','이몽룡','온돌']

female = ['미미','갑순','줄리엣','성춘향','평강']

zip 함수는 이터레이터를 반환하고 이 이더레이터를 단 한번만 소비할 수 있음. list() 함수를 사용하여 이터레이터의 모든 원소를 한번에 소비해버리면, 그 결과는 빈 이터레이터가 되기 때문에 리스트로 다시 저장한 후 사용해야됨.

In [ ]:
import random

male = ['철수','갑돌','로미오','이몽룡','온돌']
female = ['미미','갑순','줄리엣','성춘향','평강']

random.shuffle(male)
print(male)
random.shuffle(female)
print(female)
couples = list(zip(male, female))
print(couples)

for i, couple in enumerate(couples):  #inumerate -> 인덱스 활용시 사용
  print(f'커플{i+1}: {couple[0]}, {couple[1]}')

['로미오', '이몽룡', '철수', '온돌', '갑돌']
['평강', '성춘향', '미미', '갑순', '줄리엣']
[('로미오', '평강'), ('이몽룡', '성춘향'), ('철수', '미미'), ('온돌', '갑순'), ('갑돌', '줄리엣')]
커플1: 로미오, 평강
커플2: 이몽룡, 성춘향
커플3: 철수, 미미
커플4: 온돌, 갑순
커플5: 갑돌, 줄리엣

Task2_0430. 대문자, 소문자, 숫자를 포함하는 8자리 랜덤 비밀번호를 생성하는 프로그램을 작성하세요.

In [ ]:
import random

def make_password():
    upperwords = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    lowerwords = 'abcdefghijklmnopqrstuvwxyz'
    digit = '0123456789'

    password = random.choice(upperwords) + random.choice(lowerwords) + random.choice(digit)

    for i in range(5):
        i = random.choice([upperwords, lowerwords, digit])
        password += random.choice(i)

    password_list = list(password)
    random.shuffle(password_list)
    password = ''.join(password_list)

    return password

random_password = make_password()
print("랜덤 비밀번호 :", random_password)

랜덤 비밀번호 : cV1d9FzL

In [ ]:
import random
import string # 문자열 상수를 제공하는 모듈로, 여기서는 알파벳 문자와 숫자를 포함

characters = string.ascii_letters + string.digits # 모든 소문자와 대문자 알파벳을 포함(a-z A-z), 모든 숫자를 포함
password = "".join(random.choice(characters) for i in range(8))
print("랜덤 비밀번호 : ", password)

랜덤 비밀번호 :  u56dS90s

In [ ]:
# 대문자, 소문자, 숫자가 한번씩은 반드시 포함 되어야 하는 경우
import random
import string

upperwords = random.choice(string.ascii_uppercase)
lowerwords = random.choice(string.ascii_uppercase)
digit = random.choice(string.digits)

characters = string.ascii_letters + string.digits # 모든 소문자와 대문자 알파벳을 포함(a-z, A-Z)
# characters = random.choice(upperwords) + random.choice(lowerwords) + random.choice(digit)
rest = ''.join(random.choice(characters) for i in range(5))
# 모든 요소를 하나의 문자열로 합치기
password = upperwords + lowerwords + digit + rest
# 비밀번호 임의로 섞기

password = "".join(random.sample(password, len(password))) # 선택할 시퀀스, 선택할 요소)
print(f'랜덤 비밀번호 : {password}')

랜덤 비밀번호 : RZbD6WrT

Task3_0430. 발표자 수를 랜덤하게 출력하는 프로그램을 작성하세요.(발표자 수 입력)

kita = ['김성현','황강민','윤효준','류윤선','이상협','박지환','최환욱','서보선','김한결','김도현','김하준',
        '김도원','신현진','소지승','이범석','이현석','이명신','박윤경','이도헌','김홍준']

In [ ]:
import random

kita = ['김성현','황강민','윤효준','류윤선','이상협','박지환','최환욱','서보선','김한결','김도현','김하준', '김도원','신현진','소지승','이범석','이현석','이명신','박윤경','이도헌','김홍준']

num = int(input('발표자 수 입력 > '))
ans = random.sample(kita, num) # 중복 없이 요소를 선택
print(ans)

발표자 수 입력 > 5
['김도현', '황강민', '신현진', '김성현', '서보선']

Task4_0430. 사용자로부터 숫자를 입력받아 해당 숫자의 구구단을 출력하는 프로그램을 작성하세요.

In [ ]:
n1 = int(input("구구단을 출력할 숫자를 입력하세요 : "))
count = 0
while count < 9:
  count += 1
  mul_result = n1 * count
  print(f"{n1} * {count} = {mul_result}")

숫자를 입력하세요 : 7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

In [ ]:
num = int(input("구구단을 출력할 숫자를 입력하세요 : "))
for i in range(1, 10):
  print(f"{num} * {i} = {num * i}")

구구단을 출력할 숫자를 입력하세요 : 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [ ]:
# 구구단을 전부 출력하세요
for i in range(2,10):
  for j in range(1, 10):
    print(f"{i} * {j} = {i * j}")
  print('\n')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18


3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27


4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36


5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45


6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54


7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63


8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72


9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [ ]:
# 구구단을 횡방향으로 출력하세요

for j in range(1,10):
  for i in range(2, 10):
    print(f"{i} * {j} = {i * j}", end='\t')
  print()

2 * 1 = 2	3 * 1 = 3	4 * 1 = 4	5 * 1 = 5	6 * 1 = 6	7 * 1 = 7	8 * 1 = 8	9 * 1 = 9
2 * 2 = 4	3 * 2 = 6	4 * 2 = 8	5 * 2 = 10	6 * 2 = 12	7 * 2 = 14	8 * 2 = 16	9 * 2 = 18
2 * 3 = 6	3 * 3 = 9	4 * 3 = 12	5 * 3 = 15	6 * 3 = 18	7 * 3 = 21	8 * 3 = 24	9 * 3 = 27
2 * 4 = 8	3 * 4 = 12	4 * 4 = 16	5 * 4 = 20	6 * 4 = 24	7 * 4 = 28	8 * 4 = 32	9 * 4 = 36
2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25	6 * 5 = 30	7 * 5 = 35	8 * 5 = 40	9 * 5 = 45
2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30	6 * 6 = 36	7 * 6 = 42	8 * 6 = 48	9 * 6 = 54
2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35	6 * 7 = 42	7 * 7 = 49	8 * 7 = 56	9 * 7 = 63
2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40	6 * 8 = 48	7 * 8 = 56	8 * 8 = 64	9 * 8 = 72
2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45	6 * 9 = 54	7 * 9 = 63	8 * 9 = 72	9 * 9 = 81

f-string내에서 { }안에는 변수 뿐만 아니라 python 표현식도 올 수 있음.

표현식(Expression)
- 하나 이상의 값, 변수, 연산자, 함수 호출 등을 조합하여 평가(evaluate)될 때 값을 생성하거나 반환하는 코드
- 표현식은 계산되어 값이 되는 모든 것을 의미

표현식의 예시:
- 수치 계산: 2 + 3는 5라는 값을 반환
- 문자열 조합: "Hello " + "World"는 "Hello World"라는 문자열을 생성
- 논리 연산: x > 5는 x의 값에 따라 True 또는 False를 반환
- 함수 호출: sum([1, 2, 3])은 리스트의 합인 6을 반환
- 조건식: x if x > 0 else -x는 x가 양수면 x를, 음수면 -x를 반환

In [ ]:
# 몇단인지 표시하시오
for i in range(2, 10):
  print(f"{' '*5}{i}단{' '*5}", end="\t")
print()

for i in range(2, 10):
  print("="*12, end="\t")
print()

for j in range(1,10):
  for i in range(2, 10):
    print(f"{i} * {j} = {i * j}", end='\t')
  print()

     2단     	     3단     	     4단     	     5단     	     6단     	     7단     	     8단     	     9단
============	============	============	============	============	============	============	============
2 * 1 = 2	3 * 1 = 3	4 * 1 = 4	5 * 1 = 5	6 * 1 = 6	7 * 1 = 7	8 * 1 = 8	9 * 1 = 9
2 * 2 = 4	3 * 2 = 6	4 * 2 = 8	5 * 2 = 10	6 * 2 = 12	7 * 2 = 14	8 * 2 = 16	9 * 2 = 18
2 * 3 = 6	3 * 3 = 9	4 * 3 = 12	5 * 3 = 15	6 * 3 = 18	7 * 3 = 21	8 * 3 = 24	9 * 3 = 27
2 * 4 = 8	3 * 4 = 12	4 * 4 = 16	5 * 4 = 20	6 * 4 = 24	7 * 4 = 28	8 * 4 = 32	9 * 4 = 36
2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25	6 * 5 = 30	7 * 5 = 35	8 * 5 = 40	9 * 5 = 45
2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30	6 * 6 = 36	7 * 6 = 42	8 * 6 = 48	9 * 6 = 54
2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35	6 * 7 = 42	7 * 7 = 49	8 * 7 = 56	9 * 7 = 63
2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40	6 * 8 = 48	7 * 8 = 56	8 * 8 = 64	9 * 8 = 72
2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45	6 * 9 = 54	7 * 9 = 63	8 * 9 = 72	9 * 9 = 81

Task5_0430. 사용자로부터 숫자를 입력받아 해당 숫자의 팩토리얼을 계산하세요.

In [ ]:
# 5! 5*4*3*2*1
num = int(input("팩토리얼을 계산할 숫자를 입력하세요 : "))
factorial = 1

for i in range(1, num + 1):
  factorial *= i

print(f'{num}의 팩토리얼은 {factorial}입니다')

팩토리얼을 계산할 숫자를 입력하세요 : 9
9의 팩토리얼은 362880입니다

Task6_0430. 0부터 20까지의 숫자 중에서 짝수와 홀수를 분리하여 두 개의 리스트에 저장하세요.

In [ ]:
odd_number = []
even_number = []

for i in range(21):
  if i % 2 != 0:
    odd_number.append(i)
  else:
    even_number.append(i)
print(odd_number)
print(even_number)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Task7_0430. 주어진 리스트에서 최대값을 찾아 출력하세요.

numbers = [34, 78, 2, 45, 99, 23]

In [ ]:
numbers = [34, 78, 2, 45, 99, 23]

print(f'최대값 = {max(numbers)}')

최대값 = 99

In [ ]:
numbers = [34, 78, 2, 45, 99, 23]
max = 0
for i in numbers:
  if i > max:
    max = i
print(max)

99

Task8_0430.  1부터 10 사이의 임의의 숫자를 맞추는 게임을 만드세요. 사용자가 숫자를 맞출 때까지 입력을 계속 받으며, 정답을 맞추면 게임을 종료하세요. 단, 입력숫자가 정답보다 큰지 작은지 힌트를 주는 방식으로 코드 작성

In [ ]:
import random
target_number = random.randint(1, 10)
while True:
  guess = int(input("숫자를 맞추세요! :  "))
  if guess > target_number:
    print("더 작은 숫자입니다!")
  elif guess < target_number:
    print("더 큰 숫자입니다!")
  else:
    print("정답입니다!")
    break

숫자를 맞추세요! :  3
더 큰 숫자입니다!
숫자를 맞추세요! :  5
더 큰 숫자입니다!
숫자를 맞추세요! :  7
더 큰 숫자입니다!
숫자를 맞추세요! :  9
정답입니다!

Task9_0430. 태어난 연도를 입력받아 띠를 출력하는 프로그램을 작성하세요.

In [ ]:
zodiacs = ["원숭이", "닭", "개", "돼지","쥐", "소", "호랑이", "토끼","용", "뱀", "말", "양"]

def find_zodiac(year):
    years = birth_year % 12
    zodiac = zodiacs[years]
    return zodiac

birth_year = int(input("태어난 연도를 입력하세요: "))
zodiac = find_zodiac(year)
print(f"{birth_year}년은 {zodiac}띠 입니다.")

태어난 연도를 입력하세요: 1966
1966년은 말띠 입니다.

In [ ]:
# 강사님 풀이
# 값을 쥐띠의 해로 빼서 리스트를 수정하지 않아도 된다.
birth_year = int(input("태어난 연도를 입력하세요: "))

zodiacs = ["쥐", "소", "호랑이", "토끼","용", "뱀", "말", "양", "원숭이", "닭", "개", "돼지"]

zodiacs_index = (birth_year - 1996 ) % 12
zodiacs = zodiacs[zodiacs_index]

print(f'{birth_year}년은 {zodiacs}띠 입니다')

태어난 연도를 입력하세요: 1971
1971년은 돼지띠 입니다

In [ ]:
#아주 간단한 풀이
y = ["원숭이", "닭", "개", "돼지","쥐", "소", "호랑이", "토끼","용", "뱀", "말", "양"]
x = int(input("태어난 연도를 입력하세요: "))
print(f"{y[x%12]}띠 입니다.")

태어난 연도를 입력하세요: 1996
쥐띠 입니다.

Task10_0430. 아래 사항을 반영하여 커피 자판기 프로그램을 작성하세요.
- 시나리오 : 자판기 커피 재고 5잔, 커피 1잔 가격 300원, 재고 범위내에서 300원 이상 돈을 넣으면 거스름돈과 커피를 주고 그렇지 않으면 반환하며 재고가 소진되면 안내멘트 출력
- 각 Case별 멘트 출력은 상황에 맞게 창작
- while, if ~ elif ~ else 제어문을 사용하여 작성

In [ ]:
coffee = 5
while True:
  money = int(input("돈을 넣어주세요"))
  if money == 300:
    print("맛있는 커피를 만들고 있습니다")
    coffee -= 1
  elif money > 300:
    print("%d원의 거스름돈은 %d원입니다. 맛있는 커피를 추출합니다."%(money, money-300))
    coffee -= 1
  else:
    print("%d원이 부족합니다. 돈을 %d원 만큼 더 넣어주세요"%(300-money,300-money))
  if coffee == 0:
    print("커피가 다 소진 되었습니다. 010-0000-0000으로 연락주시면 금방 채워 드리겠습니다")
    break

In [ ]:
# Q. 로또 번호 6개를 6세트 출력하는 코드를 작성하세요(중복안됨)
import random
r = list(range(1,46))
for i in range(6):
  lotto = random.sample(r,6)
  print(sorted(lotto))

[4, 12, 14, 21, 25, 36]
[3, 10, 16, 27, 30, 37]
[6, 7, 19, 31, 44, 45]
[23, 27, 33, 37, 40, 41]
[17, 20, 25, 34, 35, 40]
[2, 11, 20, 24, 27, 40]

In [ ]:
# Q. n개 그룹으로 분류하는 코드를 작성하세요.
kita = ['김성현','황강민','윤효준','류윤선','이상협','박지환','최환욱','서보선','김한결','김도현','김하준','김도원','신현진','소지승','이범석','이현석','이명신','박윤경','이도헌','김홍준']
n = int(input("몇개의 그룹으로 나누시겠습니까? "))
random.shuffle(kita)
# print(kita)
groups = [kita[i::n] for i in range(n)]
# print(groups)
for idx, group in enumerate(groups):
  print(f"그룹 {idx + 1}: {group}")

몇개의 그룹으로 나누시겠습니까? 4
그룹 1: ['이현석', '황강민', '김도원', '신현진', '윤효준']
그룹 2: ['김도현', '김한결', '이상협', '박지환', '김홍준']
그룹 3: ['서보선', '박윤경', '이범석', '소지승', '이명신']
그룹 4: ['김하준', '김성현', '최환욱', '이도헌', '류윤선']

In [ ]:
# Q. 1부터 100까지의 정수중 5에서 95까지의 합을 구하세요
sum = 0

for i in range(1,101):
  if 5 <= i <= 95:
    sum += i
print(sum)

4550

In [ ]:
# 강사님 풀이
sum = 0
i = 1
while i <= 100:
  if 5 <= i <= 95:
    sum += i
  i += 1
print(sum)

4550

In [ ]:
# Q. while문을 사용해 1부터 1000까지의 정수중 3과 5의 공배수의 합을 구하세요
i = 1
sum = 0

while i <= 1000:
    if i % 3 == 0 and i % 5 == 0:
    # if i % 15 = 0  # 15가 3과 5의 최소공배수이므로 15로 나눠서도 가능
      sum += i
    i += 1

print(sum)

33165

In [ ]:
# Q. 현재 시각을 오전과 오후로 구분하는 프로그램을 작성하세요
import datetime
import pytz

tz = pytz.timezone('Asia/Seoul')
now = datetime.datetime.now(tz)
now_time = now.hour
now_time
if now_time >= 12:
  print("오후입니다.")
else:
  print("오전입니다.")

오후입니다.

In [ ]:
# 다양한 오류 입력에 대한 해결 방안 추가 필요
time = input("현재 시간을 입력하세요(ex. 15시 30분, 15시)")

# if time[2] != '시':  # 이렇게 작성하게 되면 인덱스에서 세번째 값이 '시' 와같은 값이 아닐때 에러가 뜬다. 그래서 시가 없을 경우 else 값을 뽑기 위해서
if '시' not in time:
  print("형식에 맞춰 작성해 주세요.")
elif int(time.split('시')[0]) >= 0 and int(time.split('시')[0]):
  print("오전 입니다.")
elif int(time.split('시')[0]) >= 0 and int(time.split('시')[0]):
  print("오후 입니다.")
else:
  print("시간을 다시 입력해 주세요.")

현재 시간을 입력하세요(ex. 15시 30분, 15시)15시
오전 입니다.

#### pop 함수
- 리스트와 같은 자료 구조에서 주로 사용되는 함수
- 이 함수는 특정 인덱스에 위치한 요소를 리스트에서 제거하고 해당 요소를 반환

In [ ]:
from os import remove
fruits = ["apple", "banana", "cherry", "date"]

# 인덱스 2의 요소 (cherry)를 제거하고 반환
remove_fruit = fruits.pop(2)
print(remove_fruit)
print(fruits)

# 리스트의 마지막요소 (date)를 제거하고 반환
last_fruit = fruits.pop()
print(last_fruit)
print(fruits)

cherry
['apple', 'banana', 'date']
date
['apple', 'banana']

Task1_0502. 짝수와 짝수를 입력하면 곱한 값을 출력하고 홀수와 홀수를 입력하면 덧셈 값을 출력하고 그외는 다시 입력하라는 메시지를 출력하세요.

In [12]:
while True:
  i = int(input("숫자를 입력하세요 : "))
  j = int(input("숫자를 입력하세요 : "))
  if i % 2 ==0 and j % 2 ==0:
    print(f"짝수의 곱은 {i * j}입니다.")
  elif i % 2 !=0 and j % 2 !=0:
    print(f"홀수의 합은{i + j} 입니다.")
  else:
    print('다시 확인하시고 짝수나 홀수만 입력해 주세요')
    continue
  break

숫자를 입력하세요 : 2
숫자를 입력하세요 : 1
다시 확인하시고 짝수나 홀수만 입력해 주세요
숫자를 입력하세요 : 22
숫자를 입력하세요 : 22
짝수의 곱은 484입니다.

Task2_0502. 현재 계절 구분 프로그램
- 시나리오 : 3 ~ 5월은 봄, 6 ~ 8월은 여름, 9 ~ 11월은 가을, 12 ~ 2월은 겨울로 구분. 지금 계절을 알려주는 프로그램
- 각 계절별 출력 멘트는 계절에 맞게 창작
- if 조건문으로 datetime 모듈을 import해서 datetime.now 함수를 사용해서 작성

In [14]:
from datetime import datetime
spring = [3, 4, 5]
summer = [6, 8, 7]
autumn = [9, 10, 11]
wintter = [12, 1, 2]

today = datetime.now()
month = today.month
if month in spring:
  print("쌔싹이 돋아나는 봄이 왔습니다.")
elif month in summer:
  print("바캉스의 계절 여름이 왔습니다.")
elif month in autumn:
  print("독서의 계절 가을이 왔습니다")
else:
  print("연말 연초의 겨울이 왔습니다.")

쌔싹이 돋아나는 봄이 왔습니다.

In [16]:
# import datetime

# t= datetime.datetime.now()

# print('지금 우리가 지내는 계절은 어디쯤 있나요?')
# if t.month<12 and t.month>=9:
#   print('단풍이 지천을 물들이는 계절, 가을입니다.')
# elif t.month<9 and t.month>=6:
#   print('작열하는 태양과 신록이 공존하는 계절, 여름입니다.')
# elif t.month<6 and t.month>=3:
#   print('벚꽃 나들이가 설래는 봄입니다.')
# else:
#   print('살고싶으면 장롱에 히트텍 꺼내, 겨울입니다')

지금 우리가 지내는 계절은 어디쯤 있나요?
벚꽃 나들이가 설래는 봄입니다.

Task3_0502. 1부터 99까지 아래와 같이 2개의 수를 곱해서 가장 큰 수를 구하세요.

`1*99, 2*98 ...99*1`

In [ ]:
i = range(1,100)
j = range(99,1,-1)
max_result = 0

for num1, num2 in zip(i,j):
  result = num1 * num2
  if result > max_result:
    max_result = result
print(f'최대값 = {max_result}')

최대값 = 2500

In [17]:
# 다른 풀이 방법
max_value = 0
for i in range(1,100):
  if max_value >= (i*(100-i)):
    continue
  else:
    max_value = i*(100-i)
print(max_value)

2500

In [18]:
# 또 다른 풀이법
n = 1
result = 0
while n <= 100:
  a = n*(100-n)
  if a > result:
    result = a
    n += 1
  else:
    n += 1
    continue
print(result)

2500

In [26]:
# 입력값 없고, 출력값만 있는 형태의 사용자 함수 만들어서 풀기
def findBiggestOne():
  biggestNum = 0
  for i, j in zip(range(1,100), range(99,0,-1)):
    if i * j > biggestNum:
      biggestNum = i*j
  return biggestNum
print(findBiggestOne())

2500

In [49]:
# for i in range(99,0,-1):
#   print(i, end=" ")
# 이 자료를 리스트로 뽑기
# numbers = [i for i in range(99,0,-1)]
# print(numbers)
# 튜플로 뽑기
# numbers = tuple([i for i in range(99,0,-1)])
# print(numbers)
# 문자로 뽑기
# numbers = str(i for i in range(99,0,-1))
# print(numbers)
# 문자열 리스트로 뽑기
# numbers = [str(i) for i in range(99,0,-1)]
# print(numbers)

['99', '98', '97', '96', '95', '94', '93', '92', '91', '90', '89', '88', '87', '86', '85', '84', '83', '82', '81', '80', '79', '78', '77', '76', '75', '74', '73', '72', '71', '70', '69', '68', '67', '66', '65', '64', '63', '62', '61', '60', '59', '58', '57', '56', '55', '54', '53', '52', '51', '50', '49', '48', '47', '46', '45', '44', '43', '42', '41', '40', '39', '38', '37', '36', '35', '34', '33', '32', '31', '30', '29', '28', '27', '26', '25', '24', '23', '22', '21', '20', '19', '18', '17', '16', '15', '14', '13', '12', '11', '10', '9', '8', '7', '6', '5', '4', '3', '2', '1']

Task4_0502. [    ]을 채워서 아래의 출력과 같이 출력하세요.

In [35]:
numbers = [1,2,3,4,5,6,7,8,9]
output = [[], [], []]
i = 0

for _ in numbers:
  output[i%3].append(numbers[i])
  i += 1
print(output)

# enmerate를 사용하여 인덱스를 활용한 풀이방법
# for idx, num in enumerate(numbers):
#   output[idx%3].append(num)
# print(output)

# [[1,4,7],[2,5,8],[3,6,9]]

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [34]:
# # 다른 풀이방법
# numbers = [1,2,3,4,5,6,7,8,9]
# output = [[], [], []]
# for num in numbers:
#   if num % 3 == 1:
#     output[0].append(num)
#   elif num % 3 == 2:
#     output[1].append(num)
#   else:
#     output[2].append(num)
#   print(output)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [37]:
# # 다른 풀이방법
# numbers = [1,2,3,4,5,6,7,8,9]
# output = [[], [], []]

# for number in numbers:
#   output[(number-1)%3].append(number)
# print(output)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

Task5_0502. 주어진 리스트에서 중복된 요소를 제거하고, 남은 요소만을 포함하는 새 리스트를 반환합니다. 순서는 유지해야 합니다.

In [8]:
input_list = [1, 2, 6, 2, 3, 7, 4, 4, 5, 6, 7, 7]
output_list = []

# for i in input_list:
#     if i not in output_list:
#         output_list.append(i)

# print(output_list)

input_list = [1, 2, 6, 2, 3, 7, 4, 4, 5, 6, 7, 7]
def remove_dup(input_list):
  num = []
  out_list = []
  for i in input_list:
    if i not in num:
      num.append(i)
  return num

out_list=remove_dup(input_list)
print(out_list)

[1, 2, 6, 3, 7, 4, 5]

In [4]:
input_list = [1, 2, 6, 2, 3, 7, 4, 4, 5, 6, 7, 7]
print()
def remove_deplicates(input_list):
  num = set()
  result = []
  for i in input_list:
    if i not in num: # set 자료형인 num과 비교하면서 input_list의 각 요소들에서 중복 안되는 것만 도출
      num.add(i)
      result.append(i)
  return result
print(remove_deplicates(input_list))

[1, 2, 6, 3, 7, 4, 5]

In [54]:
# 이것도 순서유지는 안됨.. ㅠㅠ
# input_list = [8,6,7,2,1,4,6,3,5,2,2,1]
# for i in input_list:
#   if input_list.count(i) > 1:
#     input_list.remove(i)
# print(input_list)

[8, 7, 4, 6, 3, 5, 2, 1]

In [52]:
# set을 쓰게되면 중복되는 요소가 있으면 순서가 정렬된다
input_list = [8,6,7,2,1,4,6,3,5,2,2,1]
new_list = list(set(input_list))
print(new_list)

[1, 2, 3, 4, 5, 6, 7, 8]

Task6_0502. 주어진 문자열을 모스 코드로 변환하는 함수를 작성하세요. 공백은 무시하고 알파벳만 변환하세요.

input_text = "Hello World"

In [61]:
morse_code = {
        'A': '.-', 'B': '-...', 'C': '-.-.', 'D': '-..', 'E': '.', 'F': '..-.',
        'G': '--.', 'H': '....', 'I': '..', 'J': '.---', 'K': '-.-', 'L': '.-..',
        'M': '--', 'N': '-.', 'O': '---', 'P': '.--.', 'Q': '--.-', 'R': '.-.',
        'S': '...', 'T': '-', 'U': '..-', 'V': '...-', 'W': '.--', 'X': '-..-',
        'Y': '-.--', 'Z': '--..'
    }
input_text = "Hello World"
result = ""

for char in input_text:
  if char.upper() in morse_code:
    result += morse_code[char.upper()]
print(result)

......-...-..---.-----.-..-..-..

Task7_0502. 주어진 비대칭 m×n 매트릭스(2차원 리스트)에서, 모든 대각선 상의 합을 계산하는 함수를 작성하세요. 결과는 각 대각선의 합을 리스트로 반환해야 합니다.

In [12]:
input_matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [10, 11, 12]
]
# [1, 6, 15, 24, 20, 12]

In [9]:
# 강사님 풀이
def diagonal_sums(matrix):
    if not matrix:
        return []
    m, n = len(matrix), len(matrix[0])
    # 최대 가능한 대각선 수는 m + n - 1
    # print(m,n)
    max_diagonals = m + n - 1
    result = [0] * max_diagonals

    # 모든 원소를 순회하면서 해당 대각선 인덱스에 값을 더함
    for i in range(m):
        for j in range(n):
            # 대각선 인덱스는 행 인덱스와 열 인덱스의 차의 절댓값
            diagonal_index = i + j
            result[diagonal_index] += matrix[i][j]
    return result

# 매트릭스 입력
input_matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [10, 11, 12]
]

# 대각선 합 결과 출력
print(diagonal_sums(input_matrix))

[1, 6, 15, 24, 20, 12]

In [ ]:
input_matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [10, 11, 12]
]
print(len(input_matrix))
print(len(input_matrix[0]))

[ 대각선 수 구하기 ]

4행 3열에서
첫 번째 행은 3개의 대각선에 각각 기여합니다.
첫 번째 열은 4개의 대각선에 각각 기여합니다.
하지만 가장 왼쪽 상단의 원소가 두 방향에서 모두 카운트되므로, 총 대각선 수는 3 + 4 − 1 = 6개가 됩니다.

[ 대각선 합 구하기 ]

a b c\
d e f\
g h i\
j k l

대각선 0: a\
대각선 1: b + d\
대각선 2: c + e + g\
대각선 3: f + h + j\
대각선 4: i + k\
대각선 5: l

In [16]:
# 김한결님 풀이
# [1, 6, 15, 24, 20, 12]

# [0][0]
# [0][1] [1][0]
# [0][2] [1][1] [2][0]
# [1][2] [2][1] [3][0]
# [2][2] [3][1]
# [3][2]

# 0-1-2-1-2-3-2-3-4-3-4-5


def get_sum_diagonal(arr):
  out_arr = [0, 0, 0, 0, 0, 0]

  for i1 in range(len(arr)):
    for i2 in range(len(arr[i1])):
      out_arr[i1+i2] += arr[i1][i2]

  return out_arr

arr = [
    [ 1,  2,  3],
    [ 4,  5,  6],
    [ 7,  8,  9],
    [10, 11, 12]
]
result = get_sum_diagonal(arr)
result

[1, 6, 15, 24, 20, 12]

In [ ]:
# 최환욱님 풀이
input_arr = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [10, 11, 12]
]
# input_arr = [
#     [1,  2,  3,  7],
#     [4,  5,  6,  5],
#     [7,  8,  9,  1],
#     [10, 11, 12, 2]
# ]
# input_arr = [
    # [1,  2,  3,  7, 20],
    # [4,  5,  6,  5, 21],
    # [7,  8,  9,  1, 34],
    # [10, 11, 12, 2, 23]
# ]
# input_arr = [
    # [1,  2,  3,  7, 20],
    # [4,  5,  6,  5, 21],
    # [7,  8,  9,  1, 34],
    # [10, 11, 12, 2, 23],
    # [3,  16, 42, 21,3]
# ]

def cal_sum_diag(input_arr):
  row_n=len(input_arr); col_n=len(input_arr[0]); sum_diag_list=[]
  # Calculating along with the most outer element in an anticlockwise direction
  for i in range(row_n):
    sum_diag=0; l=0;
    for j in range(0,min(i+1, col_n),1):
     sum_diag=sum_diag+input_arr[i-l][j]
     l += 1
    sum_diag_list.append(sum_diag)

  l=0
  for j in range(1, col_n):
    sum_diag=0; k=0
    for i in range(row_n-1,row_n-col_n+l,-1):
      sum_diag=sum_diag+input_arr[i][j+k]
      k += 1
    l += 1
    sum_diag_list.append(sum_diag)
  return sum_diag_list

print(f"주어진 M x N 매트릭스의 대각선 상에 있는 요소의 합을 계산, 각 대각선의 합을 리스트로 출력: {cal_sum_diag(input_arr)}")

In [ ]:
def diagonal_sums(matrix):
  if not matrix:
    return []
  m, n = len(input_matrix) len(input_matrix[0])

In [ ]:
# Q. 가위 바위 보 게임을 프로그래밍하세요.

In [18]:
import random
# ['가위', '바위', '보']

com = ['가위', '바위', '보']
win_case = {'가위':'바위', '바위':'보', '보':'가위'}
random.shuffle(com)

while True:
  my_hand = input("가위 바위 보! 오타를 입력하면 패배로 간주됩니다!!!  ")
  com_select = com[random.randint(0,2)]
  print(f"컴퓨터가 낸것은?!  {com_select}")
  if win_case[com_select] == my_hand:
    print('축하드려요! 이겼어요!')
  elif com_select == my_hand:
    print("비겼습니다!")
  else:
    print('아쉬워요 졌습니다 ㅠㅠ')
  break

가위 바위 보! 오타를 입력하면 패배로 간주됩니다!!!  가위
컴퓨터가 낸것은?!  보
축하드려요! 이겼어요!

In [ ]:
# 수정이 필요하다.
print('''
KITA 식당에 오신 것을 환영합니다

========================================

          - 메  뉴 -
    1. 불고기 비빔밥 : 12,000원
    2. 야채 비빔밥 : 8,000원
    3. 전주 비빔밥 : 10,000원

    세트 주문시 : 3000원 추가
    (세트는 밥과 반찬이 추가됩니다.)

========================================

''')

# 비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>> 2
# 세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> y
# 총 금액은 11000원 입니다.

menu_price = {'불고기 비빔밥' : 12000, '야채 비빔밥' : 8000, '전주비빔밥' : 10000}
menu = list(menu_price.keys())
set_price = 3000
choice_menu = input("메뉴를 선택해 주세요 ")
set_order = input('세트 주문을 하시겠어요? y or n ').lower()
total_price = 0
  if menu[0] == choice_menu:
    print(f"{menu[0]}은 {menu_price[choice_menu]}원 입니다")
  elif menu[1] == choice_menu:
    print(f"{menu[1]}은 {menu_price[choice_menu]}원 입니다")
  elif menu[2] == choice_menu:
    print(f"{menu[2]}은 {menu_price[choice_menu]}원 입니다")
  else:
    print("메뉴를 확인해 주세요")

In [1]:
def main():
    print("KITA 식당에 오신 것을 환영합니다")
    print("\n" + "=" * 40)
    print("\n          - 메  뉴 -")
    print("    1. 불고기 비빔밥 : 12,000원")
    print("    2. 야채 비빔밥 : 8,000원")
    print("    3. 전주 비빔밥 : 10,000원")
    print("\n    세트 주문시 : 3,000원 추가")
    print("    (세트는 밥과 반찬이 추가됩니다.)")
    print("\n" + "=" * 40)

    # 사용자로부터 메뉴 선택을 받는다.
    menu_choice = int(input("\n비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>> "))

    # 메뉴별 가격을 설정한다.
    prices = {1: 12000, 2: 8000, 3: 10000}

    # 사용자가 선택한 메뉴의 가격을 가져온다.
    total_price = prices.get(menu_choice, 0)

    # 세트 주문 여부를 확인한다.
    set_order = input("세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> ").lower()
    if set_order == 'y':
        total_price += 3000

    print(f"총 금액은 {total_price}원 입니다.")

if __name__ == "__main__":
    main()

KITA 식당에 오신 것을 환영합니다

========================================

          - 메  뉴 -
    1. 불고기 비빔밥 : 12,000원
    2. 야채 비빔밥 : 8,000원
    3. 전주 비빔밥 : 10,000원

    세트 주문시 : 3,000원 추가
    (세트는 밥과 반찬이 추가됩니다.)

========================================

비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>> 1
세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> y
총 금액은 15000원 입니다.

In [ ]:
# 계속 주문 할 수 있는기능 추가 난주 확인
print("KITA 식당에 오신 것을 환영합니다")
print("\n" + "=" * 40)
print("\n          - 메  뉴 -")
print("    1. 불고기 비빔밥 : 12,000원")
print("    2. 야채 비빔밥 : 8,000원")
print("    3. 전주 비빔밥 : 10,000원")
print("\n    세트 주문시 : 3,000원 추가")
print("    (세트는 밥과 반찬이 추가됩니다.)")
print("\n" + "=" * 40)
def main():
    menu_choice = int(input("\n비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>> "))
    prices = {1: 12000, 2: 8000, 3: 10000}
    menu_price = prices.get(menu_choice, 0)
    set_order = input("세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> ").lower()
    if set_order == 'y':
        menu_price += 3000

    print(f"금액은 {total_price}원 입니다.")

while True:
    main()
    stop_order = input("주문을 그만하시려면 y : ").lower()
    if stop_order == y:
      print(f"주문을 마칩니다. 총 가격은 {total_price}입니다.")
      break

if __name__ == "__main__":
    main()

In [9]:
def display_menu():
    print("KITA 식당에 오신 것을 환영합니다")
    print("\n" + "=" * 40)
    print("\n          - 메  뉴 -")
    print("    1. 불고기 비빔밥 : 12,000원")
    print("    2. 야채 비빔밥 : 8,000원")
    print("    3. 전주 비빔밥 : 10,000원")
    print("\n    세트 주문시 : 3,000원 추가")
    print("    (세트는 밥과 반찬이 추가됩니다.)")
    print("\n" + "=" * 40)

def order():
    menu_choice = int(input("\n비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>> "))
    prices = {1: 12000, 2: 8000, 3: 10000}
    total_price = prices.get(menu_choice, 0)
    set_order = input("세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> ").lower()
    if set_order == 'y':
        total_price += 3000
    print(f"총 금액은 {total_price}원 입니다.")

def main():
    while True:
        display()
        order()
        continue_ordering = input("\n다시 주문하시겠습니까? (주문: enter, 종료: '종료' 입력)")
        if continue_ordering == '종료':
          break
    print("\n감사합니다! 다음에 또 방문해 주세요.")

if __name__ == "__main__":
    main()

비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>> 1
세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> n
총 금액은 12000원 입니다.

다시 주문하시겠습니까? (주문: enter, 종료: '종료' 입력)종료

감사합니다! 다음에 또 방문해 주세요.

In [1]:
print(__name__)

__main__

if __name__ == "__main__":

- 현재 모듈이 직접 실행되는지 또는 다른 파일에 의해 임포트되어 사용되는지를 판단할 때 사용.
- 만약 모듈이 직접 실행되면 __name__ 변수의 값은 "__main__"이 되고, 모듈이 다른 파일에서 임포트되어 사용될 경우 __name__은 모듈의 이름이 된다.

In [6]:
# mymodule.py 파일의 내용을 문자열로 정의합니다.
module_content = """
def print_hello():
    print("Hello from mymodule!")

def print_goodbye():
    print("Goodbye from mymodule!")


print_hello()
print_goodbye()
"""

# 파일을 쓰기 모드로 열고, 내용을 작성한 뒤 파일을 닫습니다.
with open("mymodule.py", "w") as file:
    file.write(module_content)

# 파일이 저장된 위치 확인 (일반적으로 Colab의 현재 작업 디렉토리)
!ls

mymodule.py  __pycache__  sample_data

In [7]:
import mymodule

In [3]:
# mymodule.py 파일의 내용을 문자열로 정의합니다.
# if __name__ == "__main__":는 직접 실행할 경우만 True, 모듈로 import 하는 경우 False
module_content = """
def print_hello():
    print("Hello from mymodule!")

def print_goodbye():
    print("Goodbye from mymodule!")

if __name__ == "__main__":
print_hello()
print_goodbye()
"""
# 파일을 쓰기 모드로 열고, 내용을 작성한 뒤 파일을 닫습니다.
with open("mymodule.py", "w") as file:
    file.write(module_content)

# 파일이 저장된 위치 확인 (일반적으로 Colab의 현재 작업 디렉토리)
!ls

mymodule.py  __pycache__  sample_data

Task1_0503. 여러개의 음식을 동시에 주문할 수 있는 주문 시스템을 작성하세요(구조 지향)

In [ ]:
# global(전역 변수)

In [ ]:
def display_menu():
    print("KITA 식당에 오신 것을 환영합니다")
    print("\n" + "=" * 40)
    print("\n          - 메  뉴 -")
    print("    1. 불고기 비빔밥 : 12,000원")
    print("    2. 야채 비빔밥 : 8,000원")
    print("    3. 전주 비빔밥 : 10,000원")
    print("\n    세트 주문시 : 3,000원 추가")
    print("    (세트는 밥과 반찬이 추가됩니다.)")
    print("\n" + "=" * 40)

def order():
    menu_choice = int(input("\n비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>> "))
    prices = {1: 12000, 2: 8000, 3: 10000}
    total_price = prices.get(menu_choice, 0)
    set_order = input("세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> ").lower()
    if set_order == 'y':
        total_price += 3000
    print(f"총 금액은 {total_price}원 입니다.")

def main():
    while True:
        display()
        order()
        continue_ordering = input("\n다시 주문하시겠습니까? (주문: enter, 종료: '종료' 입력)")
        if continue_ordering == '종료':
          break
    print("\n감사합니다! 다음에 또 방문해 주세요.")

if __name__ == "__main__":
    main()

비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>> 1
세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> y
추가로 주문하시겠습니까? y, n >>> n